In [5]:
l =[[1,2,3],[4,5,6]]
print(l[0][0])

1

In [9]:
lld  = [i for i in range(10)]
ll2d =[[0,0,0] for i in range(10)]
print(ll2d)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [13]:
ll2d1 =[[j for j in range(5)] for i in range(10)]

In [15]:
ll2d1

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [26]:
# working with numpy why because python lists are slow 
# not compact 
# array are slow 
#  numpy is written in c
# same type of array 
import numpy as np

l =[1,2,3]
np.array(l)
x =np.zeros(10)# 1*10 array 
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [32]:
x.dtype

np.zeros([2,3,4])

x.shape

(10,)

In [38]:
#numpy array operation 
a =np.array([1,2,3])
b= np.array([5,6,7])
a+2 # numoy does the element wise operation
print(b+a)

[ 6  8 10]

In [43]:
a= np.array([1,2,3,4])
a.mean()
a.sum()

10

In [62]:
# introduction to the pandas
import pandas as pd

iris  = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
#print(type(df))

In [69]:
df =iris.copy() # we can't directly copy the values because the change in the one will reflect on the other 
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [72]:
df.columns =['sl','sw','pl','pw','flower_type']

In [75]:
print(df.dtypes)

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [79]:
df.describe()
df.sl # for accessing the perticular column

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64